<h1 class="merah">User</h1>
<div class="bar"></div>
<br>
<ul class="list-group">
<li class="list-group-item active"><%= user.name %></li>
<li class="list-group-item">ID: <%= user.id %></li>
<li class="list-group-item">Username: <%= user.username %></li>
<li class="list-group-item">Class: <%= user.class %></li>
<li class="list-group-item">Division: <%- user.division ? '<a href="/panel/admin/division/' + user.division.id + '">' + user.division.name + '</a>' : '' %></li>
<li class="list-group-item">Role: <%- user.role ? '<a href="/panel/admin/role/' + user.role.id + '">' + user.role.name + '</a>' : '' %></li>
<li class="list-group-item">Password Hash: <br> <code><%= user.password %></code></li>
</ul>
<br>
<a href="<%= user.id %>/update"><button class="btn btn-success"><i class="fa fa-pencil"></i> Edit</button></a> <span>
<a href="<%= user.id %>/delete"><button class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button></a> 