<div class="row justify-content-center">
  <div class="col-md-2 col-sm-4  mb-4">
    <div class="list-group text-sm-left">
      <a href="/panel/admin/config" class="list-group-item list-group-item-action"><i class="fa fa-cogs"></i> Configuration</a>
      <a href="/panel/admin/schedule" class="list-group-item list-group-item-action"><i class="fa fa-calendar"></i> Schedule</a>
      <a href="/panel/admin/division" class="list-group-item list-group-item-action"><i class="fa fa-users"></i> Division</a>
      <a href="/panel/admin/role" class="list-group-item list-group-item-action"><i class="fa fa-id-card-o"></i> Role</a>
      <a href="/panel/admin/user" class="list-group-item list-group-item-action active"><i class="fa fa-user"></i> User</a>
    </div>
  </div>
  <div class="col-md-9 border text-center col-sm-4 px-0 pt-2">
    <h1 class="merah">Users</h1>
    <div class="bar"></div>
    <br>
    <div class="tablecontainer border bg-light">
      <table cellspacing="0" class="table bg-light">
        <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Class</th>
            <th>Division</th>
            <th>Role</th>
            <th>Password</th>
            <th>Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>New</th>
            <form method="POST" class="form">
              <th><%- form.fields.name.toHTML() %></th>
              <th><%- form.fields.username.toHTML() %></th>
              <th><%- form.fields.class.toHTML() %></th>
              <th><%- form.fields.division.toHTML() %></th>
              <th><%- form.fields.role.toHTML() %></th>
              <th><%- form.fields.password.toHTML() %></th>
              <th><button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button></th>
            </form>
          </tr>
          <tr>
            <th></th>
            <th><%- form.fields.name.errorHTML() || '' %></th>
            <th><%- form.fields.username.errorHTML() || '' %></th>
            <th><%- form.fields.class.errorHTML() || '' %></th>
            <th><%- form.fields.division.errorHTML() || '' %></th>
            <th><%- form.fields.role.errorHTML() || '' %></th>
            <th><%- form.fields.password.errorHTML() || '' %></th>
          </tr>
        </tfoot>
        <tbody>
          <% users.forEach(function(user){ %>
            <tr>
              <td><a href="user/<%= user.id %>"><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.username %></td>
              <td><%= user.class %></td>
              <td><%= user.division ? user.division.name  : ''%></td>
              <td><%= user.role ? user.role.name : ''%></td>
              <td>***********</td>
              <td>
                <a href="user/<%= user.id %>/update">Edit</a>
                <a href="user/<%= user.id %>/delete">Delete</a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>    
</div>