<h1 class="merah">Schedule</h1>
<div class="bar"></div>
<br>
ID: <%= schedule.id %> <br>
Date: <%= schedule.date %> <br>
Info: <%= schedule.info %> <br>
Passkey: <%= schedule.passkey %> <br>
<a href="<%= schedule.id %>/update"><button class="button-general">Edit</button></a> <br>
<a href="<%= schedule.id %>/delete"><button class="button-general">Delete</button></a> <br>
Who attended: <br>
<% users.forEach(function(user){ %>
  - <a href="/panel/admin/user/<%= user.id %>"><%= user.name %></a>
<% }) %>
