ID: <%= schedule.id %> <br>
Date: <%= schedule.date %> <br>
Info: <%= schedule.info %> <br>
Passkey: <%= schedule.passkey %> <br>
<a href="<%= schedule.id %>/update">Edit</a> <br>
<a href="<%= schedule.id %>/delete">Delete</a>