<table cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Info</th>
      <th>Passkey</th>
      <th>#</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>New</th>
      <form method="POST" class="form">
        <th><%- form.fields.date.toHTML() %></th>
        <th><%- form.fields.info.toHTML() %></th>
        <th><%- form.fields.passkey.toHTML() %></th>
        <th><button type="submit" class="button-general">Add</button></th>
      </form>
    </tr>
    <tr>
      <th></th>
      <th><%- form.fields.date.errorHTML() || '' %></th>
      <th><%- form.fields.info.errorHTML() || '' %></th>
      <th><%- form.fields.passkey.errorHTML() || '' %></th>
    </tr>
  </tfoot>
  <tbody>
    <% schedules.forEach(function(schedule){ %>
      <tr>
        <td><a href="schedule/<%= schedule.id %>"><%= schedule.id %></td>
        <td><%= schedule.date %></td>
        <td><%= schedule.info %></td>
        <td><%= schedule.passkey %></td>
        <td>
          <a href="schedule/<%= schedule.id %>/update">Edit</a>
          <a href="schedule/<%= schedule.id %>/delete">Delete</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>