<h1 class="merah"><%= title %></h1>
<div class="bar"></div> <br>
<form method="POST" class="form">
<div class="border rounded bg-light">
  <th><%- form.fields.username.labelHTML() %></th>
  <th><%- form.fields.username.toHTML() %></th>
  
  <th><%- form.fields.password.labelHTML() %></th>
  <th><%- form.fields.password.toHTML() %></th>
</div> <br>
  <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button>
</form>
