<h1 class="merah"><%= title %></h1>
<div class="bar"></div>
<br />

<form method="POST" class="form">
  <div class="border rounded bg-light">
    <div class="form-group">
      <%- form.fields.name.labelHTML() %>
      <%- form.fields.name.toHTML() %>
    </div>
    <div class="form-group">
      <%- form.fields.username.labelHTML() %>
      <%- form.fields.username.toHTML() %>
    </div>
    <div class="form-group">
      <%- form.fields.class.labelHTML() %>
      <%- form.fields.class.toHTML() %>
    </div>
    <div class="form-group">
      <%- form.fields.division.labelHTML() %>
      <%- form.fields.division.toHTML() %>
    </div>
    <div class="form-group">
      <%- form.fields.password.labelHTML() %>
      <%- form.fields.password.toHTML() %>
    </div>
    <div class="form-group">
      <%- form.fields.confirm_password.labelHTML() %>
      <%- form.fields.confirm_password.toHTML() %>
    </div>
  </div>
  <br />
  <button type="submit" class="btn btn-success"><i class="fa fa-pencil-square-o"></i> Submit</button>
</form>
