ID: <%= user.id %> <br>
Name: <%= user.name %> <br>
Username: <%= user.username %> <br>
Class: <%= user.class %> <br>
Password Hash: <%= user.password %> <br>
<a href="<%= user.id %>/update">Edit</a> <br>
<a href="<%= user.id %>/delete">Delete</a>