ID: <%= user.id %> <br>
Name: <%= user.name %> <br>
Username: <%= user.username %> <br>
Class: <%= user.class %> <br>
Division: <%- user.division ? '<a href="/panel/admin/division/' + user.division.id + '">' + user.division.name + '</a>' : '' %> <br>
Role: <%- user.role ? '<a href="/panel/admin/role/' + user.role.id + '">' + user.role.name + '</a>' : '' %> <br>
Password Hash: <%= user.password %> <br>
<a href="<%= user.id %>/update">Edit</a> <br>
<a href="<%= user.id %>/delete">Delete</a>