<h1 class="merah">Schedule</h1>
<div class="bar"></div>
<br>
<ul class="list-group">
    <li class="list-group-item active"><%= schedule.date %></li>
    <li class="list-group-item">ID: <%= schedule.id %></li>
    <li class="list-group-item">Info: <%= schedule.info %></li>
    <li class="list-group-item">Passkey: <%= schedule.passkey %></li>
    <li class="list-group-item">
      Attendant: <br>
      <div class="list-group">
      <% users.forEach(function(user){ %>
        <a class="list-group-item list-group-item-action" href="/panel/admin/user/<%= user.id %>"><%= user.name %></a>
      <% }) %>
      </div></li>
</ul>
<br>
<a href="<%= schedule.id %>/update"><button class="btn btn-success"><i class="fa fa-pencil"></i> Edit</button></a> <span>
<a href="<%= schedule.id %>/delete"><button class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button></a> <br>