<h1 class="merah">Role</h1>
<div class="bar"></div>
<br>
<ul class="list-group">
  <li class="list-group-item active"><%= role.name %></li>
  <li class="list-group-item">ID: <%= role.id %></li>
  <li class="list-group-item">Users: <br>
    <div class="list-group">
      <% role.users.forEach(function(user){ %>
        <a class="list-group-item list-group-item-action list-group-item-primary" href="/panel/user/<%= user.id %>/read">
          <%= user.name %>   
        </a>
      <%})%>
    </div>
  </li>
  <%if (rolePerms.find(obj => obj.name === 'panel_permission' && obj.RolePermission.perm.includes('r'))) {%>
    <li class="list-group-item">Permissions: <br>
      <ul class="list-group">
        <% role.permissions.forEach(function(permission){ %>
          <li class="list-group-item list-group-item-secondary"><%= permission.name %> : <%= permission.RolePermission.perm %></li>
        <%})%>
      </ul>
    </li>
  <%}%>  
</ul>
<br>
<%if (rolePerms.find(obj => obj.name === 'panel_role' && obj.RolePermission.perm.includes('u'))) {%>
  <a href="update"><button class="btn btn-success"><i class="fa fa-pencil-alt"></i> Edit</button></a>
<%}%>
<%if (rolePerms.find(obj => obj.name === 'panel_role' && obj.RolePermission.perm.includes('d'))) {%>
  <a href="delete"><button class="btn btn-danger"><i class="fa fa-trash-alt"></i> Delete</button></a> 
<%}%>