Previous date: <%= schedule.date %> <br>
Previous info: <%= schedule.info %> <br>
Previous passkey: <%= schedule.passkey %> <br>
<form method="POST" class="form">
  <div>
    <%- form.fields.date.labelHTML() %>
    <%- form.fields.date.toHTML() %>
    <%- form.fields.date.errorHTML() %>
  </div>
  <div>
    <%- form.fields.info.labelHTML() %>
    <%- form.fields.info.toHTML() %>
    <%- form.fields.info.errorHTML() %>
  </div>
  <div>
    <%- form.fields.passkey.labelHTML() %>
    <%- form.fields.passkey.toHTML() %>
    <%- form.fields.passkey.errorHTML() %>
  </div>
  <button type="submit" class="btn btn-success"><i class="fa fa-pencil-alt"></i> Edit</button>
</form>