<h1 class="merah">Schedule</h1>
<div class="bar"></div>
<br>
<ul class="list-group">
  <li class="list-group-item active"><%= schedule.date %></li>
  <li class="list-group-item">ID: <%= schedule.id %></li>
  <li class="list-group-item">Info: <%= schedule.info %></li>
  <li class="list-group-item">Passkey: <%= schedule.passkey %></li>
  <li class="list-group-item">
    Attendants: <br>
    <div class="list-group">
      <% users.forEach(function(user){ %>
        <a class="list-group-item list-group-item-action" href="/panel/user/<%= user.id %>/read"><%= user.name %></a>
      <% }) %>
    </div>
  </li>
</ul>
<br>
<%if (rolePerms.find(obj => obj.name === 'panel_schedule' && obj.RolePermission.perm.includes('u'))) {%>
  <a href="update"><button class="btn btn-success"><i class="fa fa-pencil-alt"></i> Edit</button></a>
<%}%>
<%if (rolePerms.find(obj => obj.name === 'panel_schedule' && obj.RolePermission.perm.includes('d'))) {%>
  <a href="delete"><button class="btn btn-danger"><i class="fa fa-trash-alt"></i> Delete</button></a>
<%}%>