<h1 class="merah">Role</h1>
<div class="bar"></div>
<br>
ID: <%= role.id %> <br>
Name: <%= role.name %> <br>
Users: <br>
<% role.users.forEach(function(user){ %>
  - <a href="/panel/admin/user/<%= user.id %>"><%= user.name %> </a><br>
<% }) %>
<a href="<%= role.id %>/update"><button class="btn btn-success">Edit</button></a> <br>
<a href="<%= role.id %>/delete"><button class="btn btn-danger">Delete</button></a> 